In [37]:
import pandas as pd
import os
import re
import json

## 1. Data Cleaning

In [10]:
files = os.listdir('youtube-new/')

In [29]:
p1 = re.compile(r'.csv')
p2 = re.compile(r'.json')
csv_files = filter(p1.search, files)
json_files = filter(p2.search, files)

In [48]:
csv_total = pd.DataFrame()

for i in range(len(csv_files)):
    df = pd.read_csv('youtube-new/' + csv_files[i])
    df['Country'] = csv_files[i][:2]
    csv_total = csv_total.append(df, ignore_index=True)

In [55]:
csv_total[['Country','video_id']].groupby('Country').count()

         video_id
Country
CA          28919
DE          28940
FR          28870
GB          28797
US          28950

In [57]:
csv_total.isnull().sum()

video_id                     0
trending_date                0
title                        0
channel_title                0
category_id                  0
publish_time                 0
tags                         0
views                        1
likes                        1
dislikes                     1
comment_count                2
thumbnail_link               2
comments_disabled            2
ratings_disabled             2
video_error_or_removed       2
description               4968
Country                      0
dtype: int64